In [19]:
import pandas as pd

#reading from dictionaries
data = {"Name":["Jane", "Jack", "Jill", "John"], "Age":["20", "19", "32", "26"]}
df = pd.DataFrame(data)
print(df)

print()

#reading from lists
listBig = [["Peter", 20], ["Marco", 12], ["Chris", 40]]
df2=pd.DataFrame(listBig, columns=["Name", "Age"])
print(df2)

print()
#reading from .csv file
insurance = pd.read_csv('insurance_data - insurance.csv')
print(insurance)

print()
#getting data that fulfills certain requirement
print(df2[df2[df2.columns[1]] > 20])

print()
#more variable checks
print(insurance[(insurance["age"] > 20) & (insurance["smoker"] == "yes") & (insurance["sex"] == "female")])

   Name Age
0  Jane  20
1  Jack  19
2  Jill  32
3  John  26

    Name  Age
0  Peter   20
1  Marco   12
2  Chris   40

      age     sex     bmi  children smoker     region      charges
0      18  female  26.315         0     no  northeast   2198.18985
1      18  female  38.665         2     no  northeast   3393.35635
2      18  female  35.625         0     no  northeast   2211.13075
3      18  female  30.115         0     no  northeast  21344.84670
4      18  female  36.850         0    yes  southeast  36149.48350
...   ...     ...     ...       ...    ...        ...          ...
1333   64    male  38.190         0     no  northeast  14410.93210
1334   64    male  37.905         0     no  northwest  14210.53595
1335   64    male  26.410         0     no  northeast  14394.55790
1336   64    male  36.960         2    yes  southeast  49577.66240
1337   64    male  23.760         0    yes  southeast  26926.51440

[1338 rows x 7 columns]

    Name  Age
2  Chris   40

     age     sex     bmi  children smoker     region      charges
86    21  female  21.850         1    yes  northeast  15359.10450
101   22  female  31.020         3    yes  southeast  35595.58980
102   22  female  30.400         0    yes  northwest  33907.54800
106   23  female  36.670         2    yes  northeast  38511.62830
107   23  female  28.310         0    yes  northwest  18033.96790
..   ...     ...     ...       ...    ...        ...          ...
645   63  female  26.980         0    yes  northwest  28950.46920
651   64  female  31.300         2    yes  southwest  47291.05500
653   64  female  33.800         1    yes  southwest  47928.03000
657   64  female  22.990         0    yes  southeast  27037.91410
661   64  female  26.885         0    yes  northwest  29330.98315

[98 rows x 7 columns]